# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Ambiente local
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.sw?

# Sistema operacional
.DS_Store
Thumbs.db
